.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 150px;
}

.iconWrap {
    display: flex;
    gap: 20px;
}

.iconWrap img {
    height: 20px;
    width: auto;
    border-radius: 50%;
}

.phoneButton {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 140px;
    border: 1px solid black;
    padding: 0 10px;
    width: 100%;
    text-decoration: none;
    color: black;
}

.phoneButton img {
    height: 15px;
}