.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 150px;
}

.iconWrap {
    display: flex;
    gap: 20px;
}

.iconWrap img {
    height: 40px;
    width: auto;
    border-radius: 50%;
}